*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: Yekan;
    src: url(../fonts/yekan.woff2);
}
:root{
    --font-family:Yekan; 
}
.wrapper{
    width: 100%;
}

.swiper-rtl .swiper-button-next, .swiper-rtl .swiper-button-next, .swiper-button-prev{
    border-radius: 50%;
    border: 1px solid lightgray;
    background-color: white;
}
.customButton{
    opacity: 0.5 !important;
    background-color: #ffffff80;
    border: none !important;
    margin-top: 10px !important;
    box-shadow: 0px 1px 4px black;
}
.costomButton{
    opacity: 0.9 !important;
    background-color: #ffffff80;
    border: none !important;
    margin-top: 10px !important;
    box-shadow: 0px 1px 4px black;
}
.swiper-navigation-icon{
    width: 10px !important;
    height: 10px !important;
   
}
.swiper-navigation-icon path{
    stroke: gray;
    stroke-width: 2px;
}
.swiper-button-disabled{
    opacity: 0 !important;
}
.swiper-pagination-bullet{
    width: 4px !important;
    height: 4px !important;
    margin-left: 2px;
    background-color: #2b2b2b;
    opacity: 0.3 !important;
    transition: 300ms;
}
.swiper-pagination-bullet-active{
    background-color: whitesmoke !important;
    width: 10px !important;
    height: 5px !important;
    border-radius: 5px !important;
    opacity: 1 !important;
}